<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <div>
    <p><h2>About</p></h2>
    
    <p>Robert H. Lustig is an American pediatric endocrinologist. He is Professor emeritus of Pediatrics in the Division of Endocrinology at the University of California, San Francisco (UCSF), where he specialized in neuroendocrinology and childhood obesity. He is also director of UCSF's WATCH program (Weight Assessment for Teen and Child Health), and president and co-founder of the non-profit Institute for Responsible Nutrition.(Wikipedia)
    </p>

    <p> 
    Lustig came to public attention in 2009 when one of his medical lectures, "Sugar: The Bitter Truth", was aired.[4][5] He is the editor of Obesity Before Birth: Maternal and Prenatal Influences on the Offspring (2010), and author of Fat Chance: Beating the Odds against Sugar, Processed Food, Obesity, and Disease (2013).
    (Wikipedia)
    </p>

    <p>
    Dr. Lustig has fostered a global discussion of metabolic health and nutrition, exposing some of the leading myths that underlie the current pandemic of diet-related disease. He believes the food business, by pushing processed food loaded with sugar, has hacked our bodies and minds to pursue pleasure instead of happiness; fostering today's epidemics of addiction and depression. Yet by focusing on real food, we can beat the odds against sugar, processed food, obesity, and disease.
    <a href="https://robertlustig.com/">(robertlustig.com)</a>
    </p>
    </div>
    <button type="button" onclick="location.href='homepage'">Go to Homepage</button>
    <button type="button" onclick="location.href='works'">Go to Works Page</button>
</body>
</html>