<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <p>Welcome! This is a website on Dr. Robert Lustig. You'll know more about him <a href="/views/about.html">here</a>.
        Also click <a href="/views/works.html">here</a> to find out more about his works.
    </p>
    <script src="/app.js"></script>
</body>
</html>