<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
    <div>
        <h1><p>Welcome!</h1>
        <br>Let's get to know Dr. Robert Lustig, an endocrinologist from the US. 
        
        <img src="../public/images/dr-lustig1.jpeg" alt="dr-lustig" id="dr-lustig-photo" />
        
        <br>
        He's pioneered in advocating for the link of our diet to obesity and our metabolic health. I consider him my hero and I'd like more people to know about him and his impact to the society.
        </p>
        
        <p>
        You'll know more about him <a href="/about">here</a>.
        </p>
        <p>
        Grab a copy of his latest book: Metabolical: The Lure and Lies of Processed Food, Nutrition, and Modern Medicine.
        
        <br><img src="../public/images/Metabolical-cover-jacket-980x1479.jpg" alt="metabolical-book" id="metabolical-photo" />
        </p>
        <p>
        Click <a href="/works">here</a> to check out his other books.
        </p>
        <p>
        You can also see his insightful talks all over Youtube. 
        <br>This one specifically jumpstarted my discovery of his amazing work. Be sure to watch it now!
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/dBnniua6-oM?si=DhJ0OJKU5_SOOe-i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </div>
    
    
    <script src="/app.js"></script>
</body>
</html>
