<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="photo-name">
    <img src="../public/images/dr-lustig1.jpeg" alt="dr-lustig" id="dr-lustig-photo" /> <h1>Dr. Robert Lustig</h1> 
    </div>
    

    <div id="between"></div>

    <nav>
        <a href="/about">About</a> &nbsp &nbsp &nbsp
        <a href="/works">Publications</a>
    </nav>
    <br>

    <div id="info">
    
    <div class="border-solid"><p>Let's get to know <span>Dr. Lustig</span>, an endocrinologist from the US.</p>
        <p>He's pioneered in advocating for the link of our diet to obesity and our metabolic health.</p>
        <p>I consider him my hero and I'd like more people to know about him and his impact to the society.</p>
    </div>

    <div class="border-solid">
        
        <p>You'll know more about him <a href="/about">here</a>.</p>
    <p>His insightful talks are also all over Youtube.</p>
    <p><a href="https://www.youtube.com/watch?time_continue=2&v=dBnniua6-oM&embeds_referring_euri=http%3A%2F%2F127.0.0.1%3A5500%2F&source_ve_path=Mjg2NjY&feature=emb_logo">Sugar: The Bitter Truth</a> jumpstarted my discovery of his amazing work. Be sure to watch it now!</div></p>
    </div>
    <div id="grab-copy">    
        <div class="grab-copy-text"><p>
        Grab a copy of his latest book: <br><a href="https://www.amazon.co.jp/Metabolical-Processed-Nutrition-Modern-Medicine/dp/0063027712">Metabolical: The Lure and Lies of Processed Food, Nutrition, <br>and Modern Medicine.</a>
        </p> 
        <p>
        Click <a href="/works">here</a> to check out his other books.
        </p>
        </div>
        <div>
        <img src="../public/images/Metabolical-cover-jacket-980x1479.jpg" alt="metabolical-book" id="metabolical-photo" />
        </div>
    </div>
   
    <script src="/app.js"></script>
</body>
</html>
