<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
    <p>
    <img src="../public/images/books.jpg" alt="books">
    <br>Books
    <ul>
    <li>
    (2010) Obesity Before Birth: Maternal and Prenatal Influences on the Offspring. Boston: Springer Science.
    </li>
    <li>
    (2013) Fat Chance: Beating the Odds against Sugar, Processed Food, Obesity, and Disease. New York: Hudson Street Press.
    </li>
    <li>
    (2013) Sugar Has 56 Names: A Shopper's Guide, Avery.
    </li>
    <li>
    (2014) with Heather Millar, The Fat Chance Cookbook, Thorndike Press.
    </li>
    <li>
    (2017) The Hacking of the American Mind, Avery. ISBN 978-1-101-98258-7
    </li>
    <li>
    (2021) Metabolical: The Lure and Lies of Processed Food, Nutrition, and Modern Medicine. New York: Harper Wave. ISBN 978-0-06-302771-8
    </li>
    </ul>
    </p>
    <button type="button" onclick="location.href='homepage'">Go to Homepage</button>
    <button type="button" onclick="location.href='about'">Go to About Page</button>
</body>
</html>