<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="photo-name">
        <img src="../public/images/dr-lustig1.jpeg" alt="dr-lustig" id="dr-lustig-photo" /> <h1>Publications</h1> 
        </div>
        <div id="between"></div>
        <nav>
            <a href="/homepage">Homepage</a> &nbsp &nbsp &nbsp
            <a href="/about">About</a>
    <div id="books">
    </div>
    <br>
    <img id="books" src="../public/images/books.jpg" alt="books">
    <br>
    <div>
            <ul>
            <li>
            (2010) Obesity Before Birth: Maternal and Prenatal Influences on the Offspring. Boston: Springer Science.
            </li>
            <li>
            (2013) Fat Chance: Beating the Odds against Sugar, Processed Food, Obesity, and Disease. New York: Hudson Street Press.
            </li>
            <li>
            (2013) Sugar Has 56 Names: A Shopper's Guide, Avery.
            </li>
            <li>
            (2014) with Heather Millar, The Fat Chance Cookbook, Thorndike Press.
            </li>
            <li>
            (2017) The Hacking of the American Mind, Avery. ISBN 978-1-101-98258-7
            </li>
            <li>
            (2021) Metabolical: The Lure and Lies of Processed Food, Nutrition, and Modern Medicine. New York: Harper Wave. ISBN 978-0-06-302771-8
            </li>
            </ul>
    </div>
</body>
</html>