@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(225, 206, 179);
    animation: transitionIn .5s;
}

#photo-name {
    display: flex;
    flex-direction: row;
}

nav {
    text-align: center;
}

#between {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 30px;

}

#info {
    display: flex;
    justify-content: space-between;
}

.border-solid {
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    text-align: justify;
    padding: 20px 20px;
}

.border-solid:hover {    
    background-color: rgb(149, 145, 145);
    transition: 0.2s;
}

span {
    font-weight: bold;
}

#dr-lustig-photo {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

#dr-lustig-photo:hover {
    transform: scale(1.1);
}

#grab-copy {
    text-align: center;
    display: flex;
    justify-content: center;
}

.grab-copy-text {
    margin-top: 100px;
    margin-right: 20px;
    padding: 20px;
}

#metabolical-photo {
    width: 200px;
    margin: 40px 0px 10px 0px;
    transition: transform .2s;
}

#metabolical-photo:hover {
    transform: scale(1.1);
}
