@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(212, 199, 180);
    animation: transitionIn .5s;
}

#photo-name {
    display: flex;
    flex-direction: row;
}

#between {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 30px;

}

nav {
    text-align: center;
}

#info {
    display: flex;
    justify-content: space-between;
}

.border-solid {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    text-align: justify;
    padding: 15px 15px;
}

.border-solid:hover {    
    background-color: rgb(149, 145, 145);
    transition: 0.2s;
}

span {
    font-weight: bold;
}

#dr-lustig-photo {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

#dr-lustig-photo:hover {
    transform: scale(1.1);
}

ul {
    text-align: justify;
    margin-bottom: 40px;
}

li:hover {    
    background-color: rgb(149, 145, 145);
    transition: 0.2s;
}

#books {
    width: 800px;
}

#books:hover {
    transform: scale(1.1);
}